#spooky {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#spooky::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30em;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  pointer-events: none;
}

#spooky #battle-track {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
  width: 100%;
  height: 12em;
  background-color: rgba(16, 16, 16, 0.94);
  backdrop-filter: blur(3px);
  position: relative;
  z-index: 5;
  overflow: hidden;
  padding: 6em;
  box-sizing: border-box;
  margin-bottom: 6em;
  pointer-events: none;
}

#spooky #battle-track svg {
  position: absolute;
  width: 6em;
  height: 6em;
  left: 0;
  transition: transform 0.2s, opacity 0.1s;
  z-index: 6;
}

#spooky #battle-track svg, #spooky #battle-track svg * {
  transition: fill 0.05s, transform 0.2s, opacity 0.4s;
}

#spooky #battle-track svg[hit="true"] {
  transform: scale(1.3);
  opacity: 0 !important;
}

#spooky #battle-track #dpad-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

#spooky #battle-track svg * {
  stroke-width: 0;
  fill: rgba(255, 255, 255, 0.1);
  fill-opacity: 1.0;
  opacity: 1.0;
}

#spooky #battle-track svg[hit="false"], #spooky #battle-track svg[hit="false"] * {
  fill: red !important;
  fill-opacity: 0.5 !important;
  transform: scale(1.0);
  opacity: 0;
}

#spooky #battle-track .note, #spooky #battle-track .note * {
  fill: #151515;
  stroke: rgba(255, 255, 255, 0.1) !important;
  stroke-width: 2px !important;
}

*[is-hidden="true"] {
  display: none !important;
}

#spooky .temp-activate {
  position: absolute;
  top: 1em;
  right: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  transform: scale(1.0);
  transform-origin: right center;
  opacity: 1;
}

#spooky .temp-activate[is-hidden="true"] {
  display: flex !important;
  opacity: 0 !important;
  pointer-events: none !important;
  transform: scale(1.15) !important;
}

@keyframes loading {
  0% {
    transform: scale(1.0);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.0);
    opacity: 1;
  }
}

#spooky .temp-loading {
  position: absolute;
  top: 3.4em;
  right: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: loading 2s infinite;
}

#spooky .temp-loading p {
  font-size: 1.75em;
  color: #fff;
}

#spooky #battle-track {
  transition: all 0.2s;
  transform: scale(1.0);
  opacity: 1;
}

#spooky #battle-track[is-hidden="true"] {
  display: flex !important;
  opacity: 0 !important;
  pointer-events: none !important;
  transform: scale(1.15) !important;
}

#spooky .temp-activate p {
  font-size: 1.75em;
  color: #fff;
}

#spooky .temp-activate svg {
  width: 7em
}