@font-face {
  font-family: 'HellsCemetery-Regular';
  src: url('./assets/fonts/HellsCemetery-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

canvas {
  background-color: black;
  flex: 1 0;
  image-rendering: pixelated;
  height: 100vh !important;
  width: 100vw !important;
}