@font-face {
  font-family: 'HellsCemetery-Regular';
  src: url('./assets/fonts/HellsCemetery-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FuzzyBubbles';
  src: url('./assets/fonts/FuzzyBubbles-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FuzzyBubbles';
  src: url('./assets/fonts/FuzzyBubbles-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #010101;
  color: white;
}

.font-hells-cemetery {
  font-family: 'HellsCemetery-Regular', sans-serif;
}

.font-fuzzy-bubbles {
  font-family: 'FuzzyBubbles', serif;
}

canvas {
  background-color: black;
  flex: 1 0;
  image-rendering: pixelated;
  height: 100vh !important;
  width: 100vw !important;
}